<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
 
         <!-- Autowiring by Name -->
          
   <bean id="employee" class="com.beans.byname.EmployeeBean" autowire="byName" >
       <property name="fullName" value="Swati Srivastava"/>
    </bean>
   
    <bean id="departmentBean" class="com.beans.byname.DepartmentBean" >
        <property name="name" value="Human Resource" />
    </bean>
     
          
</beans>