<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns:aop="http://www.springframework.org/schema/aop"   
       xsi:schemaLocation="http://www.springframework.org/schema/beans   
       http://www.springframework.org/schema/beans/spring-beans.xsd   
       http://www.springframework.org/schema/aop   
       http://www.springframework.org/schema/aop/spring-aop.xsd"> 
              <!-- Enable support for AspectJ  -->
        
       <aop:aspectj-autoproxy></aop:aspectj-autoproxy>
        
     <bean id="empservimpl" class="aop.annotation.EmployeeServiceImpl">   </bean>
    <bean id="empaspect" class="aop.annotation.EmployeeAspect"></bean> 
   
                 
</beans>  