<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    					 http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- Contains Information regarding Database -->
	<context:annotation-config /> 
	
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.microsoft.sqlserver.jdbc.SQLServerDriver" />
		<property name="url" value="jdbc:sqlserver://VIKASGOND:1433;databaseName=MyDB" />
		<property name="username" value="testUser" />
		<property name="password" value="test@123" />
	</bean>
	<!-- Used in JdbcTemplate -->
	<bean id="empDao" class="jdbc.com.infogain.jdbc.DataAccess">
		<!-- <property name="dataSource" ref="dataSource" /> -->
	</bean>

</beans>
