<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:aop="http://www.springframework.org/schema/aop"
 xmlns:context="http://www.springframework.org/schema/context"
 xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
  http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
  http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
     
       
       <context:annotation-config/>
        
       <aop:aspectj-autoproxy></aop:aspectj-autoproxy>
        
        <bean id="empservimpl" class="aop.ordering.spring.service.EmployeeServiceImpl">   </bean>
       <bean id="empaspect" class="aop.ordering.spring.aop.EmpAspect"></bean>
       <bean id="empaspect1" class="aop.ordering.spring.aop.EmpAspect1"></bean>
           
</beans>